.root {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 750px;
  padding: 80px;
  text-align: center;
}

.title {

    span {
      font-size: 64px;
    }

    font-size: 48px;
  }

  .desc {
    font-size: 22px;
  }